<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.enable_lazy_load_no_trans">true</property>
    <property name="hibernate.jdbc.use_streams_for_binary">true</property>
    <property name="show_sql">true</property>
   
    
    <mapping resource="mx/ipn/upiicsa/portal_admon/pojo/CadenaComercial.hbm.xml"/>
    <mapping resource="mx/ipn/upiicsa/portal_admon/pojo/Promocion.hbm.xml"/>
    <mapping resource="mx/ipn/upiicsa/portal_admon/pojo/TipoPromocion.hbm.xml"/>
    <mapping resource="mx/ipn/upiicsa/portal_admon/pojo/BeaconDepartamento.hbm.xml"/>
    <mapping resource="mx/ipn/upiicsa/portal_admon/pojo/Departamento.hbm.xml"/>
    <mapping resource="mx/ipn/upiicsa/portal_admon/pojo/Usuario.hbm.xml"/>
    <mapping resource="mx/ipn/upiicsa/portal_admon/pojo/Sucursal.hbm.xml"/>
    <mapping resource="mx/ipn/upiicsa/portal_admon/pojo/Beacon.hbm.xml"/>
    <mapping resource="mx/ipn/upiicsa/portal_admon/pojo/PromocionBeacon.hbm.xml"/>
   <mapping resource="mx/ipn/upiicsa/portal_admon/pojo/RolUsuario.hbm.xml"/>
   
  </session-factory>
</hibernate-configuration>
